<!DOCTYPE html>
<html>
  <head>
    <title>GoalApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
		<nav>
			<% if current_user %>
				<span>Welcome <%= current_user_username %></span>
				<br>
				<form action="<%= session_url %>" method="post">
					<input type="hidden" name="_method" value="delete">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<input type="submit" value="Logout">
				</form>
			<% else %>
				<%= link_to "Login", new_session_url %>
				<%= link_to "Register", new_user_url %>
			<% end %>
		</nav>
		<main>
    	<%= yield %>
		</main>
  </body>
</html>
